@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Merriweather Sans';
  src: url('./assets/MerriweatherSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Separate background color transition */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply transition-colors duration-200 font-['Merriweather_Sans'];
  }
  
  #root > div {
    @apply transition-colors duration-200;
  }
}

/* Modify animation to exclude background */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-out forwards;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}